*
!.gitignore
!.gitmodules
!readme.md
!setup.sh
!test/*

!autohotkey.ahk
!bat/**/*
!deploy-ahk.sh
!fish/**/*
!gh/*
!git/**/*
!mise/*
!mozc/ibus_config.textproto
!nvim/**
!systemd/user/xkeysnail.service
!tmux/tmux.conf
!zed/{config,keymap}.json
fish/completions/asdf.fish
fish/fish_variables
nvim/pack/*/start/*
